@import 'bootstrap/dist/css/bootstrap.css';


#root {
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  font-weight: bold;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  padding: 2vh;
}
a:hover {
  color: #535bf2;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.spinners{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.profile-distribution {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: center; 
  align-items: space-between; 
  gap: 2vw
}
.card {
  background-color: yellow;
}

.profile{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 5vw
}

.profile-info{
  display: "flex";
  flex-direction: "column"; 
  justify-content: "center"; 
  align-items: "flex-start"; 
  min-width: "20vw"; 
  padding-left: "2vw"
}

.publication-distribution{
  display: flex; 
  flex-wrap: wrap; 
  gap: 5vh; 
  padding: 2vh; 
  flex-direction: column
}

.publication-card{
  background-color: lightgrey; 
  padding: 2vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
}

.friends-card-distribution{
  padding: 2vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center 
}

.friends-card{
  background-color: lightgrey;
  padding: 2vh; 
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: center; 
  max-width: 40vw
}

.app-dark{
  background-image: linear-gradient(black, rgb(0, 106, 255));
  padding: 5vh 10vw;
  min-height: 100vh;
  min-width: 100vw;
}

.app-light{
  padding: 5vh 10vw;
  background-image: linear-gradient(rgb(0, 106, 255), white);
  color: black;
  min-height: 100vh;
  min-width: 100vw;
}

.dark-buttons{
  background-color:rgb(0, 106, 255)  !important;
  color: white !important;
}

.light-buttons{
  background-color:lightseagreen !important;
  color: white !important;
}


.light-card{
  background-color: rgb(180, 200, 225) !important
}

.dark-card{
  background-color: lightgrey !important
}
